.register-content {
    justify-content: center;
    margin-top: 48px
}

.register-form {
    box-shadow: none;
    margin-top: 10px;
    border: 1px solid black;
}

.registration-title {
    font-size: 30px;
    padding: 10;
    font-weight: bold;
    text-align: center;
}